<div ng-controller="View1Ctrl as ctrl">

    <!--View1Ctrl ctrl = new View1Ctrl();-->
    <input type="text" ng-model="ctrl.szukanyPokoj">
    <input type="button" ng-click="ctrl.pobierzDane()" value="Baton">
    <br>
    {{ctrl.zmienna}}
    <br>
    {{ctrl.szukanyPokoj}}

    {{$rootScope.rooms}}
</div>
